.universeContainer {
    width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;

    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height: 400px;
    background-size: cover;
    background-position: center; 
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  }
  
.finalButton{
  width: 200px;
}

  .profile h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: -20px;
    margin-left:80px;
  }
  
  .profile p {
    padding-left: 8px;
    font-size: 20px;
    color: #474545;
    margin-bottom: 10px;
    margin-left: 75px;
  }
  
  .universeContainer img {
    max-width: 100%;
    height: auto;
   
    margin-top: auto; 
    align-self: center;
  }
  
  .explore-container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .explore-container h2 {
    font-size: 24px;
    color: #d4d4d4;
    margin-bottom: 0px;
  }
  
  .universes-list {
    display: flex;
    flex-direction: column;
  }
  
  .universeContainer {
    margin-bottom: 0px;
    background-color: #f9f9f9;

   
  
  }
  .explore-container p{
    color: #d4d4d4;
  }
  
  .universe-image {
    overflow: hidden;
 
  }
  
  .universe-image img {
    width: 100%;
    height: auto;
    display: block;
  }
  
  .universe-content {
    padding: 20px;
  }
  
  .universe-content h3 {
    font-size: 28px;
    color: #333;
    margin-bottom: 10px;
  }
  
  .universe-content p {
    font-size: 20px;
    color: #c5c5c5;
    margin-bottom: 20px;
  }
  
  .explore-details-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .explore-details-button:hover {
    background-color: #0056b3;
  }
  
  .explore-container h1 {
    font-size: 60px !important;
    color: #dddddd !important;
    margin-bottom: 20px !important;
   
  }
  
