:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;

  place-items: center;
  min-width: 320px;
  min-height: 100vh;

 background-image: url(https://media.istockphoto.com/id/1461048693/vector/background-with-stars-vector-pattern-night-sky-filled-with-lots-of-stars-boho-star-universe.jpg?s=612x612&w=0&k=20&c=ro9UOVAl3-fhW5a_9NNhsqsBf8AgMI6XM_5KJsW8gro=);
  background-size: cover;
  animation: galaxyAnimation 600s linear infinite;
}

@keyframes galaxyAnimation {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 100% 100%;
  }
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}



 /*  */


#root {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}


h1 {
  font-size: 4rem;
  margin-bottom: 20px;

  display: flex;
  justify-content: flex-start;
  color: #e7e7e7;
}


button {
  margin: 10px;
  padding: 10px 20px;
  font-size: 1rem;
  background-color: #ad5ada;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  transition: background-color 0.3s ease, transform 0.3s ease;
  width: 500px;
}

button:hover {
  transform: scale(1.05);
  background: #5d258e;
}

span {
  margin-left: 10px;
}

.appTitle {
  padding-top: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.buttonContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.quoteTitle{

    padding-top: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 20px;
    color: #eaeaea;
  
}

